.main{
    background-color: #f0f0f0;
    width: 100vw;
    height: calc(100vh - 60px);
	padding: 0;
	line-height: 2;
	flex: 1;
}
.player{
    display: grid;
    align-items: center;
    justify-content: center;
}
.specialMessage {
    font-size: 22px;
    margin: 30px 0;
    color: #000000;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
}
.text{
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin: 50px;
}
.text1{
    color: #000000;
    font-size: 30px;
    text-align: center;
}
.cp {
    background-color: #ffffff;
    position: center;
    border: 1px solid #000000;
    border-width:2px solid #1b2538;
    width: 90vw;
    height: 50px;
    margin: 20px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #eee; /* 薄い灰色にする */
    pointer-events: none;    /* クリックも反応しなくする */
    opacity: 0.6;           /* 透明度を下げる */
}
.cp_iptxt {
    background-color: #ffffff;
    position: center;
    border: 1px solid #000000;
    border-width:2px solid #1b2538;
    width: 90vw;
    height: 50px;
    margin: 20px 0;
    padding-left: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.cp_iptxt input[type=text] {
    font: 15px/1.6 sans-serif;
    box-sizing: border-box;
    width: 90vw;
    padding: 0.3em;
    transition: 0.3s;
    border: 2px solid #1b2538;
    border-radius: 4px;
    padding-left: 30px;
    outline: none;
    align-items: center;
    justify-content: center;
}
.cp_iptxt input[type=text] {
    padding-left: 40px;
    align-items: center;
    justify-content: center;
}
.cp_iptxt [class^="svg_"] {
    position: absolute;
    left: 20px;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    width: 20px;
    height: 20px;
    background-color: #aaaaaa;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

/*focus時の設定*/
.cp_iptxt input[type=text]:focus {
    border-color: #da3c41;
}
.cp_iptxt input[type=text]:focus + [class^="svg_"] {
    background-color: #da3c41;
}
.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin:  30 auto;
	overflow: clip;
	padding: 0 1rem;
	line-height: 60px;
	float: left;
	position: relative;
	font-weight: bold;
	justify-content: center;
	background: linear-gradient(to top, #ffffff, #75dfff);
	color: #000000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0s;
}
.btn:hover {
	color: #c0c0c0;
	opacity: 0.5;
}
.btn-item {
	display: flex;
	display: inline-block;
	margin:  0 auto;
}
.answerButton {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin:  30 auto;
	overflow: clip;
	padding: 0 1rem;
	line-height: 60px;
	float: left;
	position: relative;
	font-weight: bold;
	justify-content: center;
	background: linear-gradient(to top, #ffffff, #22c55e);
	color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0s;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* 回答可能 */
.answerButton.active {
    display: block;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin:  30 auto;
	overflow: clip;
	padding: 0 1rem;
	line-height: 60px;
	float: left;
	position: relative;
	font-weight: bold;
	justify-content: center;
	background: linear-gradient(to top, #ffffff, #22c55e);
	color: #000000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0s;
}

.answerButton.active:hover {
	color: #c0c0c0;
	opacity: 0.5;
}

/* 回答済み */
.answerButton.answered {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin:  30 auto;
	overflow: clip;
	padding: 0 1rem;
	line-height: 60px;
	float: left;
	position: relative;
	font-weight: bold;
	justify-content: center;
	background: linear-gradient(to top, #ffffff, #f59e0b);
	color: #7e7b7b;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0s;
    cursor: not-allowed;
}

/* 締切済み */
.answerButton.closed {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 50%;
	margin:  30 auto;
	overflow: clip;
	padding: 0 1rem;
	line-height: 60px;
	float: left;
	position: relative;
	font-weight: bold;
	justify-content: center;
	background: #9ca3af;
	color: #000000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0s;
    cursor: not-allowed;
}