.main{
    background-color: #f0f0f0;
    width: 100vw;
    height: calc(100vh - 60px);
	padding: 0;
	line-height: 2;
	flex: 1;
    display: grid;
}
.topscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.startButton {
    margin: 20;
    padding: 12px 24px;
    font-size: 18px;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}