.main {
    background-color: #f0f0f0;
    width: 100%;
	height: 100%;
    background-size: cover;
    position: fixed;
}
.title {
    padding: 200px 0 0 0;
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}